#main {
  max-width: 600px;
  margin: 0 auto;
}

.simplefirst {
  width: 500px;
  margin: 20px auto;
}
.fancyfirst {
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border: solid blue 10px;
}

.simple {
  width: 500px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.fancy {
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border: solid blue 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.static {
  position: static;
  border: 3px blue solid;
}
.relative1 {
  position: relative;
  border: 3px red solid;
}
.relative2 {
  position: relative;
  top: -20px;
  left: 20px;
  background-color: white;
  width: 500px;
  border: 3px dashed red;
}
.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  background-color: white;
}

a {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  color: yellow;
  background-color: red;
}

.absolute {
  position: absolute;
  top: 120px;
  right: 0;
  width: 300px;
  height: 200px;
  color: blue;
}

.container {
  position: relative;
}

.navAbsolute {
  position: absolute;
  left: 0px;
  width: 200px;
}

section {
  /* position is static by default */
  margin-left: 200px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}
body {
  margin-bottom: 120px;
}

img {
  float: right;
  margin: 0 0 1em 1em;
}



.clearfix {
  overflow: auto;
}

.floatlayout {
  float: left;
  width: 200px;
}

.box {
  float: left;
  width: 200px;
  height: 100px;
  margin: 1em;
}
.after-box {
  clear: left;
}

article img {
  float: right;
  width: 50%;
}

.percent {
  float: left;
  width: 25%;
}

.percentwidth {
  margin-left: 25%;
}

@media screen and (min-width:600px) {
  main {
    float: left;
    width: 25%;
  }
  body {
    margin-left: 25%;
  }
}
@media screen and (max-width:599px) {
  nav li {
    display: inline;
  }
}

.box2 {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}

nav {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 20%;
}

.column {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 75%;
}

.three-column {
  padding: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  column-count: 3;
  column-gap: 1em;
}

.flexcontainer {
  display: -webkit-flex;
  display: flex;
}

.navflex {
  width: 200px;
}

.flex-column {
  -webkit-flex: 1;
  flex: 1;
}

.containerFancy {
  margin: 50px 0;
  display: -webkit-flex;
  display: flex;
}
.initial {
  -webkit-flex: initial;
          flex: initial;
  width: 200px;
  min-width: 100px;
}
.none {
  -webkit-flex: none;
          flex: none;
  width: 200px;
}
.flex1 {
  -webkit-flex: 1;
          flex: 1;
}
.flex2 {
  -webkit-flex: 2;
          flex: 2;
}

.vertical-container {
  height: 300px;
  display: -webkit-flex;
  display:          flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
